.navbar {
     border-radius: 0px !important; 
}
.caption-title{
border-radius:10px;
color:white;
}
.img-w-caption{
margin-left:20px;
border-radius:10px;
width:400px;
height:250px;
border:thin solid grey;
display:inline-block;
}
.img-for-section{
border-radius:10px;
width:400px !important;
height:250px !important;
padding-left:20px;
padding-right:20px;
}

.move-down{
margin-top:80px;
}
footer{
background-color:darkgrey;
}
.container{
color:white;
}
body{
margin-top:-20px;
}
.img-captions{
background-color:#18BC9C;
}
navbar{
margin-bottom:0px !important;
}
.dynamic-background{
transition: 2s;
height:500px;
background-image:url("../img/easy_sunday_roast.jpg");
    background-repeat: no-repeat;
    background-size: 1500px auto;
	background-position:center;
	width:1000px;
	margin-top:-22px;
}
.dynamic-background2{
transition: 2s;
height:100%;
width:100%;
background-image:url("../img/easy_sunday_roast.jpg");
    background-repeat: no-repeat;
    background-size: 1500px auto;
	background-position:center;
	width:100%;
	margin-top:-22px;
}
.login{
	font-weight: bold;
}
.login:hover{
	color:white;
	cursor:pointer;
	text-decoration:underline;
	transition:1s;
}
.signup{
	transition:1s;
	font-weight:bold;
}
.signup:hover{
	color:white;
	cursor:pointer;
	text-decoration:underline;
}
.maincart{
	font-size:140px;
	color:lightgrey;
}
.addrow{
	display:none;
}
.nomorethanten{
	margin-top:-22px;
}.remove-ten-alert:hover{
	color:black;
}
.remove-ten-alert{
	float:right;
	color:white;
}
.icon-preview{
		width:50px;
		height:auto;
		display:inline-block;
	}
.tenalert{
	display:none;
}
.profileImg{
	width:100%;
	height:auto;
}
.addMore{
	display:none;
}
.btn-transparent{
	background-color:transparent;
}
.imgGridblocks{
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
}
.imgGrid{
	list-style-type:none;
}
.img-prof-icon{
	border-radius:1000px;
	display:inline-block !important;
	width:20px;
	height:auto;
	margin-top:-10px;
}
.time, .range{
	display:none;
}
.bootstrap-switch{
	height:42px;
}
.utensils{
	display:inline-block;
	width:80px; 
	height:auto;
	padding:0px;
}
.main-course{ 
	border-radius: 50%;
	height:120px;
	width:120px;
}
.place-setting{
	display:inline-block;
	width:auto;
	padding-left:20px;
	padding-right:20px;
	padding-top:30px;
}

.place-setting-label{
    margin-left: 50%;
	text-align:center;
    margin: 0 auto;
}
.moreInfo{
	display: inline-block;
}
.greyed-out{
	background-color:lightgrey;
	//display:none;
}
.height-grey{
	height:31.4%;
}
.clickformore{
	display:none;
}
.popover-title{
	background-color:#18BC9C !important;
	color:white;
}